div.producto{background-color: whitesmoke; width: 25%; height: 25%; border: 1px solid black; border-radius: 2%;padding: 1% 1% 1% 1%; display: inline-block;}
img.producto{width: 100%;height: 75%; position: relative; margin-left: auto; margin-right: auto; display: block; margin-top: 1% ;border-radius: 2%;}
h3.precio{ font-size: 22px; font-weight: bold;}
p.nombre{color: black;}
p.descripcion{color: gray;}

div.menu{height: 40px;background-color: blue; width : 100%; position: fixed;text-align: center;color: white; top: 0px }
div.pie{height: 40px;background-color: red;width: 100%;position: fixed; bottom: 0px;text-align: center;color: white}
div.centro{position: relative;top: 150px; text-align: center}
#mano{font-size: 100px; color:white; padding: 2%;text-align: center; margin: 2px;height: 120px;width: 120px;position: relative;left: 25%;}

.fa-hand-point-down{background-color: green; }
.fa-hand-point-up{background-color: blue; }
.fa-hand-point-left{background-color: black; }
.fa-hand-point-right{background-color: red; }
div.factura{color: blue;}
div.fderecha{color: blue;position: absolute;left: 25%;top: 10%; border-left: 10px solid blue;border-right: 10px solid lightblue}
th.factura{color: #000;background-color: aquamarine}

tr.separador{background-color: blue}
body.factura{background-color: white}