
div.contenedor{
    background-color:#6f1b0b; 
    position: relative;
    top: 150px;
    left: 25%; 
    width: 50%;
    height: 350px;
    color: white;
    text-align: center;
    font-size: 50px}
div.Redonda{
    background-color:white; 
    border: 10px solid #6f1b0b;
    border-radius: 50%;
     position: absolute;
     height: 100px;
     width: 100px;}
#arribaD{top: -15%;right: -15%;}
#arribaI{top: -15%;left: -15%;}
#abajoD{bottom: -15%; right: -15%;}
#abajoI{bottom: -15%;left: -15%;}

