div.cuadroAzul{
    background-color: lightskyblue   ;
    position: relative;
     top: 25%;
     left: 15%;
     height: 25%;
     width: 25%; 
     border-radius: 10%}

     
div.cuadroBlanco{
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
     border-radius: 10% 0% 0% 10%}
p.textoDelCentro{
    color: black;
    position: relative;
    top: 25%;
    text-align: center;}